<div class="contenedor-bienvenida">
    <h2> Bienvenido!!</h2>
    <h3> Usuario {{user.user}}</h3>
    <h3> Email: {{user.email}}</h3>
    <h3> Rol: {{user.rol}} </h3>
    <h3> cart: {{user.cart}}</h3>
</div>
